.sidebar{
    width: 280px;
    padding: 30px 0;
    border-right: 1px solid  #E7E7E7;
}

.sidebar__menu-item{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0px 0px 30px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.sidebar__menu-text{
    font-size: 14px;
    color: #5D5D5D;
    font-weight: 600;
}

.sidebar__menu-icon{
    margin-right: 7px;
    display: flex;
    align-items: center;
}
.sidebar__menu-icon-active{
    margin-right: 7px;
    display: none;
}

.sidebar__nav .active{
    background: #045CCE08;
    border-right:2px solid #045CCE;
}
.sidebar__nav .active .sidebar__menu-text{
    color: #045CCE;
}

.sidebar__nav .active .sidebar__menu-icon-active{
    display: flex;
    align-items: center;
}

.sidebar__nav .active .sidebar__menu-icon{
    display: none;
}
