/* Layout wrapper */
.login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-image: url('../../../assets/images/banner-login.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.register-wrapper{
  background-image: url('../../../assets/images/banner-register.png');
}

.login-imgleftmain {
  width: 45%;
  height: 100vh;
}

.login-imgleft {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Cột phải chứa form */
.login-cardmain {
  width: 55%;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 55%;
  background: #FFFFFFCC;
  border: 1px solid;
  border-image-source: linear-gradient(151.14deg, #A9CFFF 1.46%, #69ABFF 101.67%);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 32px;
}

/* Input */
.login-input {
  height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

/* Button chính */
.login-primaryBtn {
  height: 55px;
  border: none;
  border-radius: 30px;
  background: #045CCE;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}
.logo-div{
  display: flex;
  justify-content: center;
}
.logo {
  width: 158px;
  height: 41px;
}
.modal-register .ant-modal-title{
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}
.btn-select-register{
  width: 100%;
  height: 55px;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  padding: 17px 35px;
}
.title-login {
  font-size: 40px;
  color: #1F2937;
  margin: 0 0 25px 0px;
  text-align: center;
}

.login-input-container {
  position: relative;
  margin-bottom: 10px;
}

.login-input-container input {
  width: 100%;
  height: 55px;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  padding: 17px 35px;
  color: #6D6D6D;
}

.login-input-container .key-logo-input {
  position: absolute;
  width: 16.67px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-password {
  position: absolute;
  right: 10px;
  width: 16.67px;
  top: 50%;
  transform: translateY(-50%);
}

.login-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #6D6D6D;
}

.login-remember input {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #D1D1D1;
}

.login-remember {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}
.save-password-text{
  font-size: 13px;
  color: #045CCE;
}
.login-forgot a {
  color: #045CCE;
  font-weight: 600;
  font-size: 13px;
}

.login-register {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
}

.login-register-link {
  color: #045CCE;
}

.login-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-social-title {
  font-size: 14px;
  text-align: center;
  color: #5D5D5D;
}

.login-socialBtn {
  width: 100%;
  margin-bottom: 15px;
  height: 55px;
  border: 1px solid #E7E7E7;
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
}

.login-socialBtn-google {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.login-socialBtn-google-content img {
  height: 24px;
  width: 24px;
}

.login-socialBtn-google-content {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1F2937;
  font-size: 15px;
}

.login-socialBtn-google-icon img {
  width: 10px;
}

.register-wrapper .login-input-container {
  margin-bottom: 0px;
}


.register-wrapper .title-login {
  margin-bottom: 5px;
}
.otp-action-group{
  display: flex;
  align-items: center;
  width: 100%;
}
.otp-submit {
  background: #045CCE;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  margin-top: 15px;
}

/* CSS cho tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .login-cardmain {
    width: 100%;
  }

  .login-card {
    width: 90%;
  }

  .login-imgleftmain {
    display: none;
  }
}

/* CSS cho mobile nhỏ */
@media (max-width: 480px) {
  .login-imgleftmain {
    display: none;
  }

  .login-cardmain {
    width: 100%;
  }

  .login-card {
    width: 90%;
  }
}